body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  margin: 0;
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  background:white;
  padding:30px;
  border-radius:15px;
  width:90%;
  max-width:500px;
  box-shadow:0 10px 30px rgba(0,0,0,0.2);
  text-align:center;
}

button{
  width:100%;
  margin:10px 0;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#4a90e2;
  color:white;
  cursor:pointer;
}
button:hover{background:#357abd;}
a{color:#4a90e2; text-decoration:none; font-weight:bold;}
